 {{ extend './public/base.html' }}
<!-- 、、 -->
{{block name="title"}} 后台首页 {{/block}}
<!--  -->
{{block name="style"}}
<link rel="stylesheet" href="../css/index.css"> {{/block}}
<!--  -->
{{block name="main"}}
<div class="left">
    <div class="user">
        <div class="photo">
            <img src="./img/123.jpg" alt="">
        </div>
        用户头像
    </div>
    <ul>
        <li data-src="/admin/index">首页</li>
        <li data-src="/admin/loginLog">访问记录</li>
        <li data-src="/admin/userList">用户管理</li>
    </ul>
</div>
<div class="main">
    <div class="header">
        <h3>后台管理系统</h3>
        <button type="submit" id="logout">退出登录</button>
    </div>
    <div class="right">
        <iframe src="/userList.html" frameborder="0"></iframe>
    </div>
</div>
{{/block}} {{block name="js"}}
<script src="../js/index.js"></script>
{{/block}}